
.lost-content{
    display: flex;
    flex-direction: column;
    width: 76%;
}
.content-lost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lost-navigation{
    padding: 20px;
}

.lost-nav-type{
    width: 145px;
    height: 30px;
}

.lost-nav-input{
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid #8DBFAC;
    border-radius: 15px;
}

.lost-nav-additional{
    width: 337px;
    height: 30px;
}

.lost-nav-location{
    width: 226px;
    height: 30px;
}
.post-lost-found{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 6px #00000029;
}
.lost-img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.lost-inform{
    width: 60%;
    margin: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.lost-inform-title{
    text-align: left;
    font: Bold 22px/27px Montserrat;
    color: #84B6A3;
}
.lost-inform-items{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.lost-inform-item{
    width: 50%;
    text-align: left;

    color: #393939;
}
.span-item{
    color: #84B6A3;

}

.lost-inform-descr{
    margin-top: 15px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
}
.lost-inform-location{
    border-top: #BABABA 1px solid;
    padding-top: 10px;
    margin-top: 15px;
}
.icon-location{
    width: 14px;
    height: 14px;
    background-image: url("../img/location.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 30px;
}
.icon-phone{
    width: 16px;
    height: 18px;
    background-image: url("../img/phone4.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 30px;
}
.icon-email{
    width: 16px;
    height: 18px;
    background-image: url("../img/email2.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 30px;
}
.lost-map{
    width: 30%;
    border-radius: 15px 0 0 0;
    background-color: #84B6A3;
    min-height: 100vh;
    height: auto;
}
.lost-user-name{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lost-user-icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: flex-end;
    padding-top: 15px;
}
.lost-padding{
    padding-top:10px;
}

.lost-user-inform{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

input::-webkit-input-placeholder { color: #84B6A3; }
input::-moz-placeholder { color: #84B6A3; }
