.profile-link{
    width: 50%;
    height: 34px;
    box-shadow: 0 3px 6px #00000029;
    cursor: pointer;
}

.btn-profile {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding-top: 6px;
    background-color: #669885;
    padding-bottom: 9px;
}

.post-profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 3px 6px #00000029;
    padding-top: 20px;
    margin-bottom: 20px;
}

.profile-icon{
    width: 14px;
    height: 14px;
    background-image: url("../img/camera3.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 8px;
    padding-right: 30px;
}
.div-icon{
    position: absolute;
    margin-left: 20px;
    top: 220px;
    width: 20px;
    height: 20px;
}

.icon-save{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/save.png');
    margin-right: 5px;
}

.save-btn{
    display: flex;
    width: 148px;
    height: 34px;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    justify-content: flex-start;
    padding-top: 7px;
    padding-left: 10px;
    margin-left: 20px;
    background-color:#8DBFAC ;
}

.footer-profile {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

.header-padding{
    padding-bottom: 15px;
}

.profile-padding-bottom{
    padding-bottom: 50px;
}
.btn-lost{
    display: inline-block;
    width: 148px;
    height: 34px;
    border-radius: 17px;
    padding-top: 6px;
    text-align: left;
}
.button-header-lost{
    background: #FFE78D;
    margin-right: 15px;
}
.button-header-found{
    background: #84B6A3;
}